version: "2.3"
services:
  proxy:
    image: nginx:alpine
    restart: always
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf:z,ro
      - ./.htpasswd:/etc/nginx/.htpasswd
    ports:
      - 8080:80
    networks:
      - {{NETWORK}}

networks:
  {{NETWORK}}:
    external: true